h1 {
	color: #040652;
	font-size: 42px;
}

h2 {
	color: #040652;
	font-size: 28px;
}

body {
	background-color: #C8C8C8 ;
	color: #351743;
	text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

#slogan {
     font-style: italic;
}